.center_nav {
  color: black;
}

.nav__list {
  margin-right: 1.5em;
  display: flex;

  background-color: #128fc8;
}

.nav__list-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 7.3px;
  transition: 3s;
  transition: width 0.3s;
  background: linear-gradient(
    92.7deg,
    rgba(245, 212, 212, 1) 8.5%,
    rgba(252, 251, 224, 1) 90.2%
  );
}
.nav__list-item a:hover::after {
  width: 100%;
}

.nav__list-item {
  margin-left: 1.5em;
  background-color: #128fc8;
  /* border: 1px solid red; */
  font-size: 19px;
  /* color:#2ECBE9; */
  /* height: 25px; */
  /* padding-bottom: 10px; */
}
.app .nav__hamburger {
  display: none;
}
.nav__theme {
  margin-top: 0.4em;
}

.closebutton {
  margin-top: -100px;
}
@media (max-width: 700px) {
  .nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* margin-top: -10em; */
  }

  .nav__list-item {
    margin: 0.5em 0;
  }

  .app .nav__hamburger {
    display: flex;
    z-index: 2;
    margin-left: 0.8em;
  }
}
@media (min-width: 200px) and (max-width: 300px) {
  .closebutton {
    margin-left: 200px;
  }
}

@media (min-width: 300px) and (max-width: 450px) {
  .closebutton {
    margin-left: 300px;
  }
}
@media (min-width: 450px) and (max-width: 520px) {
  .closebutton {
    margin-left: 400px;
  }
}

@media (min-width: 520px) and (max-width: 560px) {
  .closebutton {
    margin-left: 450px;
  }
}
@media (min-width: 560px) and (max-width: 600px) {
  .closebutton {
    margin-left: 500px;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .closebutton {
    margin-left: 600px;
  }
}
